/* ページ全体のスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('background.jpg');
  background-size: auto auto; /* 画面全体に画像を広げる */
  color: #333; /* ページ全体のテキスト色を指定 */
}

/* ヘッダーのスタイル */
header {
  background-color: #333;
  color: #fff; /* ヘッダー内のテキスト色を指定 */
  padding: 20px;
}

header h1 {
  margin: 0;
  color: yellow; /* h1要素内のテキスト色を指定 */
}

h2 {
 color: #0bf7e3;
 font-size: 100px;
}

p {
  color: #ffffff;
  font-size: 125px;
}

pk {
  color: #c8ff00;
  font-size: 110px;
}


taki {
  color: #fff;
  font-size: 200px;
}

tankman {
  color: #000000;
  font-size: 200px;
}

ace {
  color: #00ccff;
  font-size: 200px;
}
/* ナビゲーションのスタイル */
nav ul {
  list-style-type: none;
  padding: 0;
}

t {
  color: #000000;
  font-size: 75px;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #f70b0b; /* ナビゲーション内のリンクテキスト色を指定 */
  text-decoration: none;
}

/* セクションのスタイル */
section {
  padding: 20px;
}

/* フッターのスタイル */
footer {
  background-color: #333;
  color: #fff; /* フッター内のテキスト色を指定 */
  text-align: center;
  padding: 10px;
}
